.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    gap: 16px;
}

.mantine-Input-wrapper {
    width: 500px;
}